/* google font */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');


:root{

    /* colors */

    /* primary */
    --Cyan: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);

    /* neutral */
    --light-blue: 	hsl(179, 47%, 52%);
    --Light-Gray: hsl(204, 19%, 89%);
    --Grayish-Blue: hsl(218, 22%, 67%);
    --white: hsl(0, 0%, 100%);
}


body{
    padding: 0;
    margin: 0;
}

.grid{
    display: grid;
    grid-auto-rows: 41% 30% 32%;
}

.info{
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.info_title{
    color: var(--light-blue);
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding-top: 1rem;
}

.info_guarantee{
    color: var(--Bright-Yellow);
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 20px;
}

.paragraph{
    color: var(--Light-Gray);
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.7rem;
    margin-top: 0.2rem;
    margin-bottom: 1.2rem;
}

.subs{
    display: flex;
    flex-direction: column;
    background-color: var(--Cyan);
    padding: 0 1.5rem 0 1.5rem;
}

.subs_title{
    color: var(--white);
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0;
}

.subs_price{
    display: flex;
    color: var(--white);
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 33px;
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.subs_price span{
    font-size: 16px;
    color: var(--Light-Gray);
    margin: .5rem .5rem 0 .5rem ;
}

.subs_p{
    color: var(--Light-Gray);
    font-family: 'Karla', sans-serif;
    font-weight: 400;
}

.subs_btn{
    border: none;
    background-color: var(--Bright-Yellow);
    height: 40px;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: 'Karla',sans-serif;
    font-weight: 700;
    color: var(--white);
    font-size: 17px;
    box-shadow: 0 6px 14px 0 rgb(139, 175, 72);
    cursor: pointer;
}

.why{
    background-color: var(--light-blue);
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem 0 1.5rem;
}

.why_title{
    color: var(--white);
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.why_p{
    color: var(--Light-Gray);
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 13px;
    margin: 0 0 .3rem 0;
}


@media screen and (min-width:924px) {

    .info{
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .subs{
        grid-column: 1/2;
        grid-row: 3/5;
    }

    .why{
        grid-column: 2/3;
        grid-row: 3/5;
    }

    .info_title{
       font-size: 30px;
       margin-top: 2rem;
    }

    .info_guarantee{
        font-size: 25px;
    }

    .paragraph{
        font-size: 18px;
        width: 660px;
        margin-bottom: 0;
    }

    .subs_title{
        font-size: 30px;
        margin-bottom: 1rem;
    }

    .subs_price{
        font-size: 39px;
    }

    .subs_price span{
        margin: 1rem;
    }

    .subs_p{
        margin-top: 0;
    }

    .subs_btn{
        margin-top: 1rem;
        width: 250px;
    }

    .why_title{
        font-size: 25px;
    }

    .why_p{
        font-size: 16px;
    }
}